@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.azeret-mono-primary-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */

.btn-primary-font {
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
}
.btn-primary {
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
}
.section-title {
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
}
.section-subtitle {
  width: 852px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: -37px;
}

/* skill section bg style */
.bg-color1 {
  background: rgba(255, 76, 30, 0.05);
}
.bg-color2 {
  background: rgba(0, 76, 232, 0.05);
}
.bg-color3 {
  background: rgba(255, 223, 0, 0.05);
}

/* header style */
main {
  margin-right: 150px;
  margin-left: 150px;
}

.nav-container .nav-items .nav-title {
  list-style: none;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-weight: 800;
}

button {
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 130px;
  /* background-color: red; */
}
.hero-section {
  background-image: url("../assets/Hero-bg.png");
  height: 652px;
  width: 100%;
  background-size: contain;
  background-position: center;
}
.banner {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  /* padding-top: 26px; */
  width: 998px;
  margin: 0 auto;
}
.banner img {
  margin-top: 26px;
}
.banner h1 {
  margin-top: 18px;
  margin-bottom: 22px;
  /* color: #0d1321; */
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 800;
  /* line-height: 68px; 141.667% */
}
.banner p {
  width: 852px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: -37px;
}

.hero-btn {
  width: 244px;
  height: 65px;
  padding: 20px 20px;
  margin-top: -10px;
  cursor: pointer;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background: #0d1321;
  /* line-height: normal; */
}

/* dev goal styles */
.dev-goal {
  display: flex;
  flex-direction: column;
  padding: 70px 97px;
  border-radius: 16px;
  margin: 74px 0 74px 0px;
  /* background-color: rgba(13, 19, 33, 0.02); */
  /* border-radius: 16px; */
  background: rgba(13, 19, 33, 0.02);
}

.dev-goal-container p {
  color: #0d1321;
  text-align: center;
  margin: 0 auto;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  max-width: 852px;
}
.dev-goal-container .section-title {
  margin-bottom: 18px;
}

.goal-sub-container {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px;
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.goal-column h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
  max-width: 390px;
}

.goal-column p {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  text-align: left;
  /* font-style: normal; */
  font-weight: 400;
  max-width: 468px;
  /* line-height: 26px; */
  opacity: 0.7;
}
.goal-column button {
  margin-top: 24px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #0d1321;
  opacity: 0.7;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
}

.goal-sub-container1 {
  max-width: 840px;
  /* margin: 0 auto; */
  display: flex;
  gap: 40px;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  padding: 48px;
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.goal-column-extra h3 {
  max-width: 470px;
}

/* Inspiration section style */

.inspiration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -45px;
  /* margin-bottom: 15px; */
  /* background-color: green; */
}
.inspiration-container .section-title {
  margin-bottom: 60px;
  /* background-color: red; */
}

.section-subtitle {
  margin-bottom: 30px;
}
.video-container {
  padding: 20px;
  margin-bottom: 151px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
.video-container > iframe {
  width: 980px;
  height: 530px;
  border-radius: 16px;
}

/* current target section style */

.cur-target-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 111px 0;
}
.cur-target-container .section-title {
  margin-bottom: 60px;
}

.skill-container {
  display: flex;
  gap: 24px;
  border-radius: 16px;
}

.skill-item {
  padding: 40px;
  border-radius: 16px;
}

.skill-item img {
  margin-bottom: 20px;
}

.skill-title {
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
.skill-subtitle {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  max-width: 284px;
  margin-bottom: 20px;
}
.skill-item button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Azeret Mono";
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
}

/* next target section style */

.targ-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
  max-width: 1120px;
}

.targ-skill-container .section-title {
  margin-bottom: 50px;
  /* margin: 0 auto; */
}

.skill-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.targ-skill-item {
  padding: 25px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
}

.targ-skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.targ-skill-item img {
  width: 105px;
  height: 70px;
  /* margin-right: 20px; */
}
.skill-details {
  margin-left: 24px;
}
.skill-details h4 {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skill-details p {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 25px;
  margin-bottom: 30px;
}
.skill-details button {
  border: none;
  background: none;
  padding: 0;
  font-family: "Azeret Mono";
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: underline;
}

/* support section style */

.support-section {
  background-image: url(../assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 48px;
  border-radius: 16px;
  margin: 0 auto 80px;
  max-width: 1020px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("../assets/handshake.jpg") lightgray 50% / cover no-repeat;
}
.support-container h2 {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 700;
  margin-top: -15px;
  margin-bottom: 16px;
}
.support-container p {
  max-width: 606px;
  margin: 0 auto 24px;
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.form-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.form-input input[type="text"] {
  width: 500px;
  padding: 18px 20px;
  border: none;
  border-radius: 8px;
  background: #fff;
  border: 1px solid rgba(13, 19, 33, 0.15);
}
.form-input input[type="text"]::placeholder {
  color: rgba(13, 19, 33, 0.4);
  text-align: left;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
}
.form-input > a {
  list-style: none;
}

.form-input button {
  width: 120px;
  height: 52px;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
  background: #fff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
footer h4 {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: normal; */
}

.icon-container {
  display: flex;
  gap: 24px;
  flex-direction: row;
  /* justify-content: space-evenly; */
}
